.jumbotron {
    margin-bottom: 2rem;
    background-image:url('thomas-the-tank.jpg');
    border-radius: .3rem;
    background-repeat: no-repeat;
    background-size: 1150px 528px;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-bottom: 25px;
}

b, strong {
    font-weight: bolder;
    font-size: 44px;
}